---
import type { InferGetStaticParamsType } from "astro";
import { PortableText } from "astro-portabletext";
import Layout from "../../layouts/Layout.astro";
import { formatDate } from "../../utils";
import { urlFor } from "../../utils/image";
import { getPost, getPosts } from "../../utils/sanity";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const posts = await getPosts("en");
  return posts.map((post) => ({
    params: { slug: post.slug.current },
  }));
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
const { slug } = Astro.params as Params;
const post = await getPost(slug, "en");
---

<Layout title={post.title! + " | Rafli Malik"} desc={post.title!}>
  <section class="my-12 flex flex-col items-center">
    <div class="mb-8 max-w-prose">
      <h1 class="text-center text-4xl font-semibold">{post.title}</h1>
      <h2 class="text-center text-xl font-normal">{post?.location}</h2>
    </div>
    {
      post.thumbnail ? (
        <Image
          class="mb-6 w-full object-cover"
          src={urlFor(post.thumbnail).url()}
          width={1920}
          height={1080}
          alt="Cover image"
        />
      ) : (
        <hr class="w-full border" />
      )
    }
    <div class="flex flex-col items-center">
      <div class="flex w-full max-w-prose flex-col items-start gap-8">
        <p class="text-2xl">{post.excerpt}</p>
        <div class="font-light leading-relaxed tracking-wide">
          <PortableText value={post.body} />
        </div>
        <p class="text-left text-lg">
          {formatDate(post._createdAt)}
        </p>
      </div>
    </div>
  </section>
</Layout>
