---
import type { InferGetStaticParamsType } from "astro";
import { PortableText } from "astro-portabletext";
import Layout from "../../layouts/Layout.astro";
import { formatDate } from "../../utils";
import { urlFor } from "../../utils/image";
import { getPost, getPosts } from "../../utils/sanity";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const posts = await getPosts();
  return posts.map((post) => ({
    params: { slug: post.slug.current },
  }));
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
const { slug } = Astro.params as Params;

const post = await getPost(slug);
---

<Layout title={post.title! + " | Rafli Malik"} desc={post.title!}>
  <section class="post">
    {
      post.mainImage ? (
        <Image class="w-full" src={urlFor(post.mainImage).url()} width={1280} height={720} alt="Cover image" />
      ) : (
        <div class="" />
      )
    }
    <div class="flex flex-col items-center">
      <div class="w-full max-w-prose">
        <h1 class="text-3xl font-semibold">{post.title}</h1>
        <p class="text-xl">{post.excerpt}</p>
        <p class="text-lg">
          {formatDate(post._createdAt)}
        </p>
        <div class="max-w-prose">
          <PortableText value={post.body} />
        </div>
      </div>
    </div>
  </section>
</Layout>
